@use "../../node_modules/quasar/src/css/index" with (
$typography-font-family : 'Comfortaa',
$body-font-size : 16px,
$primary : #00796B,
$secondary: #26A69A,
$accent: #9C27B0,

$dark: #1D1D1D,

$positive: #21BA45,
$negative: #C10015,
$info: #31CCEC,
$warning: #F2C037);

@font-face {
  font-family: Comfortaa;
  src: url(./fonts/Comfortaa-VariableFont_wght.ttf);
}
